# -*- coding: utf-8 -*-
#
# This file is part of REANA.
# Copyright (C) 2018 CERN.
#
# REANA is free software; you can redistribute it and/or modify it
# under the terms of the MIT License; see LICENSE file for more details.

include .dockerignore
include LICENSE
include *.rst
include *.sh
include *.yaml
include pytest.ini
prune docs/_build
recursive-include pytest_reana *.py
recursive-include pytest_reana *.csv
recursive-include pytest_reana *.ipynb
recursive-include docs *.py
recursive-include docs *.png
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include tests *.py
